<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-shift-heading" jhiTranslate="planningApp.shift.home.createOrEditLabel">Create or edit a Shift</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!shift.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="shift.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="planningApp.shift.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="shift.startDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="planningApp.shift.worker" for="field_worker">Worker</label>
                    <select class="form-control" id="field_worker" name="worker" [(ngModel)]="shift.worker"  required>
                        <option *ngIf="!editForm.value.worker" [ngValue]="null" selected></option>
                        <option [ngValue]="workerOption.id === shift.worker?.id ? shift.worker : workerOption" *ngFor="let workerOption of workers; trackBy: trackWorkerById">{{workerOption.firstName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.worker?.dirty && editForm.controls.worker?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.worker?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
