<div>
    <h2 id="page-heading">
        <span jhiTranslate="planningApp.result.home.title">General Cost</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift" [routerLink]="['/shift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="planningApp.shift.home.createLabel">
            Create new Shift
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="table-responsive" *ngIf="result != undefined && result.workers.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="planningApp.shift.worker">Worker</span></th>
            <th><span jhiTranslate="planningApp.shift.cost">Cost</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let worker of result.workers">
                <td>
                    <div *ngIf="worker">
                        <a [routerLink]="['../worker', worker.worker?.id, 'view' ]" >{{worker.worker?.firstName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="worker.price">
                        {{worker.price}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="commission" *ngIf="result != undefined">
        <div>
            <span id="pdgFeeLabel" jhiTranslate="planningApp.result.commission.fee"></span>
            <span id="pdgFee">{{result.commission.pdgFee}}</span>
        </div>
        <div>
            <span id="nbInterimLabel" jhiTranslate="planningApp.result.commission.nbInterimShift"></span>
            <span id="nbInterim">{{result.commission.interimShift}}</span>
        </div>
    </div>
</span>
