<div>
    <h2 id="page-heading">
        <span jhiTranslate="planningApp.shift.home.title">Shifts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift" [routerLink]="['/shift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="planningApp.shift.home.createLabel">
            Create new Shift
            </span>
        </button>
        <button id="jh-cost-entity" class="btn btn-secondary mr-5 float-right jh-create-entity cost-shift" [routerLink]="['/shift/cost']">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span  jhiTranslate="planningApp.shift.home.costLabel">
            Get general Cost
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shifts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="planningApp.shift.startDate">Start Date</span></th>
            <th><span jhiTranslate="planningApp.shift.worker">Worker</span></th>
            <th><span jhiTranslate="planningApp.shift.cost">Cost</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shift of shifts ;trackBy: trackId">
                <td><a [routerLink]="['/shift', shift.id, 'view' ]">{{shift.id}}</a></td>
                <td>{{shift.startDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="shift.worker">
                        <a [routerLink]="['../worker', shift.worker?.id, 'view' ]" >{{shift.worker?.firstName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shift.cost">
                        {{shift.cost}}
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/shift', shift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shift', shift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'shift/'+ shift.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
