<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shift">
            <h2><span jhiTranslate="planningApp.shift.detail.title">Shift</span> {{shift.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="planningApp.shift.startDate">Start Date</span></dt>
                <dd>
                    <span>{{shift.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="planningApp.shift.worker">Worker</span></dt>
                <dd>
                    <div *ngIf="shift.worker">
                        <a [routerLink]="['/worker', shift.worker?.id, 'view']">{{shift.worker?.firstName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="planningApp.shift.cost">Cost</span></dt>
                <dd>
                    <div *ngIf="shift.cost">
                        <span>{{shift.cost}}</span>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shift', shift.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
