<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="worker">
            <h2><span jhiTranslate="planningApp.worker.detail.title">Worker</span> {{worker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="planningApp.worker.firstName">First Name</span></dt>
                <dd>
                    <span>{{worker.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="planningApp.worker.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'planningApp.WorkerStatus.' + worker.status}}">{{worker.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/worker', worker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
