<div>
    <h2 id="page-heading">
        <span jhiTranslate="planningApp.worker.home.title">Workers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-worker" [routerLink]="['/worker/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="planningApp.worker.home.createLabel">
            Create new Worker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="workers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="planningApp.worker.firstName">First Name</span></th>
            <th><span jhiTranslate="planningApp.worker.status">Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let worker of workers ;trackBy: trackId">
                <td><a [routerLink]="['/worker', worker.id, 'view' ]">{{worker.id}}</a></td>
                <td>{{worker.firstName}}</td>
                <td jhiTranslate="{{'planningApp.WorkerStatus.' + worker.status}}">{{worker.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/worker', worker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/worker', worker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'worker/'+ worker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
