/* ==========================================================================
Main page styles
========================================================================== */

#pdgFeeLabel {
    display: block;
    float: left;
    width: 200px;
    margin-left: 10px;
}

#pdgFee {
    display: block;
    float: left;
    width: 200px;
}

#nbInterimLabel {
    display: block;
    float: left;
    width: 200px;
    margin-left: 10px;
}

#nbInterimLabel {
    display: block;
    float: left;
    width: 200px;
}
