<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome to Planning de Garde!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This app is dedicated to manage Shift and Workers</p>

        <div [ngSwitch]="isAuthenticated()">

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">This app is very simple, you can manage Workers or Shifts : </span>
                <span jhiTranslate="global.messages.info.authenticated.suffix"><br/>- For Workers go to the tab Manage > Workers. <br/>- For Shifts go to the tab Manage > Shifts.</span>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on Planning de Garde:
        </p>

        <ul>
            <li><a href="mailto:rmnx64@gmail.com" target="_blank" rel="noopener" jhiTranslate="home.link.mail">Mail</a></li>
        </ul>

    </div>
</div>
